body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    background: #242582;
    height: 100vh;
	margin: auto;
}

.instructionsContainer{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 50px 75px;
	padding: 5px;
    background-color: #161750;
}

.steps{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.stepBox{
	margin: 3px;
	padding: 5px;
	width: 100px;
	flex: 1;
}

#step1{
	background-color: #b1fefc;
}

#step2{
	background-color: #c1ffc1;
}

#step3{
	background-color: #ffbfff;
}



.interactiveContainer{
	/*Carefull with this width 100%*/
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roomInfoContainer{
	margin: 25px 50px 75px;
	padding: 5px;
	display: flex;
    flex-direction: column;
	align-items: center;
}

.viewersTableContainer{
	overflow-y: scroll;
	height: 100%;
	max-height: 350px;
	border: 2px solid green;
    border-radius: 10px;
}

#viewersTable > thead > tr > th{
	min-width: 200px;
	max-width: 200px;
	word-wrap: break-word;
	border: 2px solid #00cc66;
    position: sticky;
    top: 0;
	background-color: #407b8c;
}

#viewersTable > tbody > tr > th{
	min-width: 200px;
	max-width: 200px;
	word-wrap: break-word;
	border: 2px solid red;
    border-radius: 12px;
}

.connexionContainer{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.userNameContainer{
    display: flex;
    flex-direction: row;
}

.createRoomContainer{
    display: flex;
    flex-direction: row;
}

.connectToRoomContainer{
    display: flex;
    flex-direction: row;
}

.flexItem{
    margin: 0 5px;
}

.connexionStatus{
    color: red;
}

.titleContainer{
    text-align : center;
}

.videoContainer{
    background-color: black;
    /*Size to fit an 16:9 aspect ratio by default*/
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 366px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.videoContainer:hover .controlsContainer{
    transform: translateY(0);
}

.fileSelectorContainer{
	margin: 5px;
    text-align: center;
    position: relative;
}

.controlsContainer{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.6);
    transform: translateY(100%);
    transition: all 0.2s;
}

.buttons{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*The space-between will align how I want, two elements only...*/
    justify-content: space-between;
}

.buttons button{
    width: 24px;
    height: 24px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

#playPauseButton{
    background: url(playIcon.png);
}

#fullScreenButton{
    align-self: flex-end;
    background: url(fullScreenIcon.png);
}

#progressBar{
    height: 6px;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: #660066;
    cursor: pointer;
}

.text{
    color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

.video{
    height: 100%;
    width: 100%;
    max-width: auto;
    max-height: auto;
}

.prettyButton{
    background: #009879;
    border: 2px solid #00745d;
    border-radius: 4px;
    outline: none;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}