body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    background: #242582;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.connexionContainer{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.userNameContainer{
    display: flex;
    flex-direction: row;
}

.createRoomContainer{
    display: flex;
    flex-direction: row;
}

.connectToRoomContainer{
    display: flex;
    flex-direction: row;
}

.flexItem{
    margin: 0 5px;
}

.connexionStatus{
    color: red;
}

.titleContainer{
    text-align : center;
}

.videoContainer{
    width: 100%;
    max-width: 900px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.videoContainer:hover .controlsContainer{
    transform: translateY(0);
}

.fileSelectorContainer{
    text-align: center;
    position: relative;
}

.controlsContainer{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.6);
    transform: translateY(100%);
    transition: all 0.2s;
}

.buttons{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*The space-between will align how I want, two elements only...*/
    justify-content: space-between;
}

.buttons button{
    width: 24px;
    height: 24px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

#playPauseButton{
    background: url(playIcon.png);
}

#fullScreenButton{
    align-self: flex-end;
    background: url(fullScreenIcon.png);
}

#progressBar{
    height: 6px;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: #660066;
    cursor: pointer;
}

.text{
    color: #ffffff;
}

.video{
    width: 100%;
}