<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebPageName</title>
    <link rel="stylesheet" type="text/css" href="indexStyle.css">
</head>
<body>
<div class="mainContainer">
    <div class="connexionContainer">
        <div class="userNameContainer">
            <span class="text flexItem">User Name:</span>
            <input class="flexItem" type="text" id="userIdTextField" maxlength="20"/>
        </div>
        <div class="createRoomContainer">
            <button class="flexItem prettyButton" type="button" id="createRoomButton">Create a room</button>
            <span class="connexionStatus flexItem" id="roomConnectedName">Not Connected Yet</span>
        </div>
        <div class="connectToRoomContainer">
            <span class="text flexItem">Room Code:</span>
            <input class="flexItem" type="text" id="roomCodeTextField"/>
            <button class="flexItem prettyButton" type="button" id="connectButton">Connect</button>
            <span class="connexionStatus flexItem" id="connectionStatusSpan">Not Connected</span>
        </div>
    </div>


    <div class="titleContainer">
        <h3 id="title" class="text"> Title </h3>
    </div>
    <div class="videoContainer">
        <video class="video" id="videoPlayer"></video>
        <div class="controlsContainer">
            <progress id="progressBar" value ="0"></progress>
            <div class="buttons">
                <button id="playPauseButton"></button>
                <!-- <input type="image" id="playPauseButton"></input> -->
                <button id="fullScreenButton"></button>
            </div>
        </div>
    </div>
    <div class="fileSelectorContainer">
        <input type="file" id="UserFile" hidden="hidden" />
        <button class="prettyButton" type="button" id="customButton">Select a file</button>
        <span id="customText" class="text">No file chosen yet.</span>
    </div>
</div>

<script src="sockjs.min.js"></script>
<script src="stomp.js"></script>
<script src="indexScript.js"></script>
</body>
</html>